html {
    scroll-behavior: smooth;
}

.nav, footer {
    height: 2em;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f5deb3;
}

.nav li {
    list-style-type: none;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile h1 {
    text-align: center;
}

.photo {
    display: flex;
    margin: auto;
}

.containers {
    display: flex;
}

.container {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .nav, footer {
        flex-direction: column;
        height: auto;
    }
    .containers {
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
}